:root {
  --spacer: #a00;
}

.page-holder {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh - 72px);
  padding-top: 1rem;
}

.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
}

.page-heading {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.2em;
}

.page-breadcrumb {
  margin-bottom: 2rem;
}

.navbar {
  z-index: 4;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.navbar .navbar-brand {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: color 0.3s;
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .navbar .navbar-brand {
    position: static;
    transform: none;
  }
}

.nav-link-icon {
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
}

.nav-link-icon .notification-badge {
  top: 1rem;
}

.nav-link-icon .notification-badge.notification-badge-number {
  top: 0.6rem;
}

.input-group-navbar {
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
}

.input-group-navbar .form-control {
  background: #e9ecef;
  border: none;
  box-shadow: none;
  font-size: 0.7875rem;
}

.dropdown-menu-animated.dropdown-menu-end {
  right: 0;
  left: auto;
}

.dropdown-menu-animated {
  position: absolute;
  margin: 0;
  animation-name: AnimateDropdown;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  z-index: 1000;
}

.dropdown-menu-animated.show {
  top: 100%;
}

.dropdown-menu-animated i {
  display: inline-block;
}

.dropdown-menu-animated.dropdown-menu[data-popper-placement^="left"],
.dropdown-menu-animated.dropdown-menu[data-popper-placement^="right"],
.dropdown-menu-animated.dropdown-menu[data-popper-placement^="top"] {
  top: auto !important;
  animation: none !important;
}

.text-sm {
  font-size: 0.7875rem;
}

.card {
  border: none;
  width: 100%;
  background: rgba(128, 128, 128, 0.1);
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}

.card-body {
  background-color: white;
  margin-bottom: 1rem;
  padding-bottom: 0;
}

.board-content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.2rem;
  height: 2.4rem;
  margin-bottom: 1rem;
}
.board-info {
  display: flex;
  justify-content: space-between;
}

.user-info {
  display: flex;
  justify-content: space-between;
  width: 8rem;
}

.form-textArea textarea {
  width: 100%;
}

.comment-form {
  padding-bottom: 1rem;
  background: rgba(128, 128, 128, 0.2);
}

.comment {
  background-color: white;
}

.article-background {
  margin-top: 1rem;
}

.article-content {
  padding: 1rem 0;
}

.article-header {
  display: flex;
  white-space: nowrap;
}

.form-control {
  margin-right: 0.5rem;
}

.article-input {
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  margin: 0 1rem;
}
.number_of_stock {
  margin-left: 0.5rem;
}
.progress {
  width: 100vw;
  height: 2rem;
  margin-left: 0.5rem;
  position: relative;
}
.progress-bar {
  z-index: 1;
}
.progress-bar-text {
  position: absolute;
  z-index: 2;
  text-align: center;
  width: 100%;
  color: black;
  font-size: 1.2rem;
}
.article-button {
  display: flex;
}
.article-btn {
  width: 45vw;
  margin: 1rem;
}

.field {
  background-color: white;
}

.ui .button {
  background-color: white;
}

.post-container {
  margin-top: 1rem;
}

.ui.input input {
  width: 100%;
  border: none;
  border-bottom: solid;
  padding-bottom: 1rem;
}

.field textarea {
  margin-top: 1rem;
  width: 100%;
  border: none;
}
